
@{
    ViewData["Title"] = "Sobre Nosotros";
}

<div class="alert alert-primary" role="alert">
    <h3>@ViewData["Title"]</h3>
</div>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card border-primary">

            <div class="card-body">
                <p class="card-text">
                    Esta es una tienda online creada para la asignatura Desarrollo Web/Móvil del Máster Oficial en Tecnologías y Aplicaciones Informáticas (2021)
                    <br />
                    A contínuación describimos a los miembros del equipo:
                </p>
                <ul>

                    <li type="circle">Manuel Caro Méndez (Director)</li>

                    <li type="circle">Carmen Esther Fernández Martínez</li>

                    <li type="circle">Jonathan Moreno Jiménez</li>

                    <li type="circle">Marta Borrego Padilla</li>

                    <li type="circle">Brisa Carolina Pérez Wilggins</li>

                </ul>

            </div>
        </div>
    </div>
</div>
